body {
    background: #F3F3F3;
}

header {
    background: #F0FFF0;
    padding: 15px;
}

.navbar-brand {
    width: 100px;
    color: #4a664a;
}

.navbar-brand:hover {
    color: #7ca37c;
}

.nav-link {
    color: #4a664a;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-weight: bolder;
    line-height: 24px;
}

.nav-link:hover {
    background: #86c086;
    color: #ffffff;
}

.about {
    min-height: 50vh;
    background-color: #333538;
}

.about_image {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 2px solid #115033;
    overflow: hidden;
    object-fit: fill;
    position: relative;
}

.img-circle {
    float: left;
    margin-right: 10px;
}

.about_image.hor img {
    position: absolute;
    left: 50%;
    width: auto;
    height: 200px;
    transform: translateX(-50%);
}

.about_image.vert img {
    position: absolute;
    top: 50%;
    width: 200px;
    height: auto;
    transform: translateY(-50%);
}

.about h1 {
    color: #F0FFF0;
}

.about h2 {
    color: #F0FFF0;
}

.about p {
    color: #F0FFF0;
}

.work {
    min-height: 80vh;
    background-color: #BE3144;
}

.work h1 {
    color: #F0FFF0;
}

.project {
    background-color: #6b1e28;
}

.project:hover {
    background-color: #9e5660;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.project img {}

.project h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #413960;
}

.project p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}

.contact {
    min-height: 20vh;
    background-color: #21b573;
}

.contact h1 {
    color: #16221d;
    font-size: 50px;
    font-weight: 700;
}

.contact_links {
    background: #39393b;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.contact_links a {
    background: transparent;
}

.contact_links a i {
    font-size: 50px;
    color: #9bebc7;
}

.contact_links:hover {
    background: #494950;
    color: #ffffff;
}

.contact_links a i:hover {
    color: #3ab97e;
}

.btn-click {
    background: #21B573;
    border-radius: 33px;
    color: #ffffff;
}

.btn-click:hover {
    background: #115033;
    color: #ffffff;
}

footer {
    background: #F0FFF0;
}